body {
    background-color: #131720;
}

.card-header {
    color: #DBDFE4;
    padding: 15px;
}

.card {
    height: 500px;
    background-color: #1C202A;
    overflow-y: auto; /* So you can scroll when the message is too long */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.message {
    margin-bottom: 15px;
    padding: 6px 15px;
    border-radius: 8px;
    display: inline-block;
}

.user-message {
    background-color: #007bff;
    color: white;
    margin-left: auto;
}

.bot-message {
    background-color: #e9ecef;
    color: #212529;
    margin-right: auto;
}